<h2 class="page-header"><%= location.country  %></h2>
<a href="/locations/<%= location.id %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs', { url: `/locations/${location.id}` }) %>

<% if (picturesFromCountry.length > 0) { %>
  <h2>Pictures from country</h2>
  <% picturesFromCountry.map(picture => { %>
    <a href="/pictures/<%= picture.id %>">
      <img width="320" height="240" src="<%= picture.imagePath %>">
    </a>
  <% }) %>
<% } %>
