<div class="form-row">
  <div class="form-row__item">
    <label>Title</label>
    <input type="text" name="title" value="<%= picture.title %>">
  </div>
  <div class="form-row__item">
    <label>Location</label>
    <select name="location">
      <% locations.map(location => { %>
      <% if (picture.id === picture.location ) { %>
      <option selected label="<%= location.country %>" value="<%= location.id %>">
        <% } else { %>
      <option label="<%= location.country %>" value="<%= location.id %>">
        <% } %>
        <% }) %>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-row__item">
    <label>Took Date</label>
    <input type="date" name="tookDate"
      value="<%= picture.tookDate != null ? picture.tookDate.toISOString().split('T')[0] : '' %>" />
  </div>
  <div class="form-row__item">
    <label>Years Old</label>
    <input type="number" name="yearsOld" min="1" value="<%= picture.yearsOld %>" />
  </div>
</div>
<div class="form-row">
  <div class="form-row__item form-row__item--no-grow">
    <label>Image</label>
    <input type="file" name="image" class="filepond" />
  </div>
  <div class="form-row__item">
    <label>Description</label>
    <textarea name="description">
        <%= picture.description %>
      </textarea>
  </div>
</div>